.welcome {
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__card {
        position: relative;
        flex: 0 0 calc(100% / 2 - 10px);
        padding: 32px;

        &-image {
            position: absolute;
        }

        &-inner {
            max-width: 265px;
        }

        &--1 {
            .welcome__card-image {
                right: -48px;
                top: 50%;
                width: 333.12px;
                height: 333.12px;
                transform: translateY(-50%);
            }
        }

        &--2 {
            .welcome__card-image {
                right: -39px;
                top: 50%;
                width: 273.8px;
                height: 291.75px;
                transform: translateY(-53%);
            }
        }
    }
}
