// COLORS
$color-black: #212429;
$color-white: #fff;
$color-theme: #002355;
$color-gray-0: #f0f0f0;
$color-black-main: #000;
$color-theme: #2cc295;
$color-green: #17ff5c;
$color-red: red;
$color-theme-hover: #00E7A2;

// FONTS
$font-name: "FontName", Arial, sans-serif;
$font-Poppins: "Poppins", serif;

// TRANSITIONS
$transition-duration: 0.35s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;

// SETTINGS
$desktop-xxl: 2560;
$desktop-xl: 1920;
$desktop-lg: 1680;
$desktop-md: 1366;
$desktop-sm: 1366;
$desktop-xs: 1280;
$desktop: 1024;
$tablet: 1024;
