.keyBenefits {
    position: relative;

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;

        @include devices {
            gap: 16px;
        }
    }

    &__card {
        padding: 32px 24px;
        text-align: center;

        &-image {
            margin-right: auto;
            margin-left: auto;
            width: 140.61px;
            height: 132px;

            img {
                height: 100%;
                object-fit: contain;
            }
        }

        @include desktop {
            flex: 0 0 calc(100% / 3 - 16px);
            min-height: 348px;

            &--1 {
                .keyBenefits__card-image {
                    width: 140.61px;
                    height: 132px;
                }
            }

            &--2 {
                .keyBenefits__card-image {
                    width: 139.09px;
                    height: 132px;
                }
            }

            &--3 {
                .keyBenefits__card-image {
                    width: 132px;
                    height: 132px;
                }
            }
        }

        @include devices {
            padding: 29px 16px;
            width: 100%;
            min-height: 346px;

            &-image {
                width: 100px;
                height: 94.9px;
            }
        }
    }

    [data-theme="darkMode"] & {
        &::before {
            content: "";
            position: absolute;
            left: -20%;
            top: -40%;
            z-index: -1;
            width: 1347.56px;
            height: 853.7px;
            background: linear-gradient(257.81deg, rgba(10, 81, 165, 0.7) 12.19%, rgba(0, 200, 0, 0.7) 93.91%);
            opacity: 0.4;
            filter: blur(150px);
            transform: matrix(-0.98, 0.2, 0.2, 0.98, 0, 0);
        }
    }
}
