.intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
    padding-top: 116px;

    &__left {
        flex: 1;
        padding-top: 63px;
    }

    &__form {
        form {
            position: relative;
            display: flex;
            gap: 24px;

            span {
                position: absolute;
                top: 105%;
                color: $color-red;
            }
        }

        input {
            border: 1px solid rgba(255, 255, 255, 0.12);
            border-radius: 16px;
            padding: 18px 16px;
            width: 368px;
            height: 56px;
            background: rgba(255, 255, 255, 0.04);

            &::placeholder {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: rgba(255, 255, 255, 0.4);
            }
        }

        input:-internal-autofill-selected {
            appearance: menulist-button;
            background: rgba(255, 255, 255, 0.04) !important;
        }
    }

    &__continue {
        span {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: rgba(255, 255, 255, 0.4);
        }

        &-buttons {
            display: flex;
            gap: 16px;
        }

        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            padding: 14px 54px;
            width: 160px;
            height: 48px;
            background: rgba(255, 255, 255, 0.08);
            cursor: pointer;
            gap: 8px;

            svg {
                flex-shrink: 0;
                width: 20px;
                height: 20px;
            }

            @include desktop {
                transition: all 0.5s ease-in;
                &:hover {
                    background: $color-theme-hover;
                }
            }
        }
    }

    &__right {
        max-width: 464px;
    }

    &__list {
        overflow: hidden;
        padding: 24px;
        height: 380px;

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 23px;
        }

        &.is-active {
            height: auto;
        }
    }

    &__tab {
        display: flex;
        flex-flow: column;
        gap: 15px;

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-content {
            display: flex;
            align-items: center;
            width: 191px;
            gap: 8px;
        }

        &-ico {
            flex-shrink: 0;
            width: 24px;
            height: 24px;
        }

        &-name {
        }

        &-sname {
            font-size: 14px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.6);
        }

        &-price {
        }

        &-percent {
            width: 100px;
            text-align: right;
            color: $color-green;
        }
    }

    &__news {
        margin-top: 24px;
        padding: 24px;

        &-top {
            display: flex;
            justify-content: space-between;
        }

        &-content {
            display: -webkit-box;
            overflow: hidden;
            margin-top: 10px;
            font-size: 14px;
            line-height: 25px;
            text-decoration: underline;
            color: rgba(255, 255, 255, 0.6);
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;

            &.is-active {
                display: block;
            }
        }
    }

    &__nav {
        display: flex;
        border-radius: 12px;
        padding: 2px;
        background: rgba(255, 255, 255, 0.04);

        &-link {
            border-radius: 10px;
            padding: 8px 24px;
            min-width: 126px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            transition: all 0.3s linear;
            cursor: pointer;

            &.is-active {
                background: #1a1d21;
            }
        }
    }

    &__text {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
    }
}
